/* Modo común*/


.fondo {
    background-color: yellow;
}

#im_newton {
    height: 200px;
    border: 3px solid transparent;
    border-color: red;
    margin: 50px;
}

#columna_izq {
    background-color: coral;
    margin: 5px;
}

#columna_der {
    background-color: chocolate;
    text-align: center;
    margin: 5px;
}

#columna_der_inf {
    background-color: chocolate;
    margin: 5px;
}

#ultima_fila {
    background-color: chocolate;
    margin: 5px;
}

.texto_titulo {
    font-family: 'Lobster', cursive;
}

.Foto_dato {
    height: 20px;
    display: flex;
    margin: 5px;
    position: relative;
    top: 9px;
    left: 9px;
}

.h3_centrado {
    text-align: center;
}

.texto {
    margin: 10px;
}

.boton {
    background-color: transparent;
    border: transparent;
}


/* Modo nocturno */

.fondo_nocturno {
    background-color: gray;
}

#im_newton_nocturno {
    height: 200px;
    border: 3px solid transparent;
    border-color: white;
    margin: 50px;
}

#columna_izq_nocturno {
    background-color: black;
    margin: 5px;
}

#columna_der_nocturno {
    background-color: rgb(46, 44, 44);
    text-align: center;
    margin: 5px;
}

#columna_der_inf_nocturno {
    background-color: rgb(46, 44, 44);
    margin: 5px;
}

#ultima_fila_nocturno {
    background-color: rgb(46, 44, 44);;
    margin: 5px;
}

.texto_titulo_nocturno {
    font-family: 'Lobster', cursive;
    color: white;
}

.h3_centrado_nocturno {
    text-align: center;
    color: white;
}

.texto_nocturno {
    margin: 10px;
    color: white;
}

.boton_nocturno {
    background-color: transparent;
    border: transparent;
    color: white;
}

